In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/nutrition.csv')
df

,id,calories,proteins,fat,carbohydrate,name,image
0,1,280.0,9.2,28.4,0.0,Abon,https://img-cdn.medkomtek.com/PbrY9X3ignQ8sVuj...
1,2,513.0,23.7,37.0,21.3,Abon haruwan,https://img-global.cpcdn.com/recipes/cbf330fbd...
2,3,0.0,0.0,0.2,0.0,Agar-agar,https://res.cloudinary.com/dk0z4ums3/image/upl...
3,4,45.0,1.1,0.4,10.8,Akar tonjong segar,https://images.tokopedia.net/img/cache/200-squ...
4,5,37.0,4.4,0.5,3.8,Aletoge segar,https://nilaigizi.com/assets/images/produk/pro...
...,...,...,...,...,...,...,...
1341,1342,42.0,1.2,0.6,9.3,Wortel Segar,https://www.astronauts.id/blog/wp-content/uplo...
1342,1343,37.0,1.0,0.6,8.3,Wortel kukus,https://www.wikihow.com/images_en/thumb/b/bf/S...
1343,1344,28.0,0.7,0.5,6.3,Wortel rebus,https://asset-a.grid.id/crop/0x222:594x690/700...
1344,1345,254.0,3.0,1.1,58.1,Yangko,https://serikatnews.com/wp-content/uploads/202...
1345,1346,52.0,3.3,2.5,4.0,Yoghurt,https://d1vbn70lmn1nqe.cloudfront.net/prod/wp-...

In [3]:
df.shape

(1346, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346 entries, 0 to 1345
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1346 non-null   int64
 1   calories      1346 non-null   float64
 2   proteins      1346 non-null   float64
 3   fat           1346 non-null   float64
 4   carbohydrate  1346 non-null   float64
 5   name          1346 non-null   object
 6   image         1346 non-null   object
dtypes: float64(4), int64(1), object(2)
memory usage: 73.7+ KB

In [5]:
df.describe()

                id     calories     proteins          fat  carbohydrate
count  1346.000000  1346.000000  1346.000000  1346.000000   1346.000000
mean    673.500000   203.217385    10.001189     7.584027     25.390193
std     388.701042   163.075430    11.847980    13.733063     32.193054
min       1.000000     0.000000     0.000000     0.000000      0.000000
25%     337.250000    75.000000     1.800000     0.500000      4.525000
50%     673.500000   146.000000     5.000000     2.000000     13.300000
75%    1009.750000   333.750000    15.000000     8.275000     37.575000
max    1346.000000   940.000000    83.000000   100.000000    647.000000

In [6]:
df.isna().sum()

id              0
calories        0
proteins        0
fat             0
carbohydrate    0
name            0
image           0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.drop(columns=['id','image'],inplace=True)

In [9]:
for col in df.columns:
    if col == 'image':
        break
    print(df[col].nunique())

472
312
279
544
1346

In [18]:
df['name'].isin(['Minyak']).sum()

0