In [52]:
import pandas as pd
import seaborn as sns

from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [55]:
df = pd.read_csv('../data/weight_track.csv')
df

,tanggal,berat_badan,tinggi_badan,bmi,kalori_konsumsi,protein_gram,lemak_gram,gula_gram,karbohidrat_gram,air_liter,stress_level,jam_tidur,kualitas_tidur
0,2024-01-01,53.0,165,19.47,2607,133,73,82,304,1.0,3,8,8
1,2024-01-02,52.9,165,19.43,2228,126,64,49,192,2.9,4,7,6
2,2024-01-03,53.1,165,19.50,1922,144,48,93,315,3.0,2,7,10
3,2024-01-04,53.2,165,19.54,2292,129,54,67,334,1.9,9,8,4
4,2024-01-05,53.1,165,19.50,2041,132,90,44,235,2.4,7,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,2025-06-14,62.9,165,23.10,1909,78,72,49,239,3.3,6,7,10
531,2025-06-15,62.8,165,23.07,2587,129,63,99,170,2.8,2,8,9
532,2025-06-16,63.0,165,23.14,2649,103,60,50,180,2.1,9,5,4
533,2025-06-17,63.1,165,23.18,2004,51,46,39,209,2.6,2,5,8
534,2025-06-18,62.9,165,23.10,2648,99,79,40,281,3.4,7,5,8

In [44]:
col = ['stress_level','jam_tidur','kualitas_tidur']

# for c in col:
#     print(df[col].unique)

df['kualitas_tidur'].unique()

array([8, 6, 10, 4, 3, 2, 1, 7, 5, 9], dtype=object)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tanggal           535 non-null    object
 1   berat_badan       535 non-null    float64
 2   tinggi_badan      535 non-null    int64
 3   bmi               535 non-null    float64
 4   kalori_konsumsi   535 non-null    int64
 5   protein_gram      535 non-null    int64
 6   lemak_gram        535 non-null    int64
 7   gula_gram         535 non-null    int64
 8   karbohidrat_gram  535 non-null    int64
 9   air_liter         535 non-null    float64
 10  stress_level      535 non-null    int64
 11  jam_tidur         535 non-null    int64
 12  kualitas_tidur    535 non-null    int64
dtypes: float64(3), int64(9), object(1)
memory usage: 54.5+ KB

In [57]:
df.tanggal = pd.to_datetime(df['tanggal'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tanggal           535 non-null    datetime64[ns]
 1   berat_badan       535 non-null    float64
 2   tinggi_badan      535 non-null    int64
 3   bmi               535 non-null    float64
 4   kalori_konsumsi   535 non-null    int64
 5   protein_gram      535 non-null    int64
 6   lemak_gram        535 non-null    int64
 7   gula_gram         535 non-null    int64
 8   karbohidrat_gram  535 non-null    int64
 9   air_liter         535 non-null    float64
 10  stress_level      535 non-null    int64
 11  jam_tidur         535 non-null    int64
 12  kualitas_tidur    535 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(9)
memory usage: 54.5 KB

In [5]:
# df[['stress_level','kualitas_tidur']] = df[['stress_level','kualitas_tidur']].astype('object')
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   tanggal           535 non-null    datetime64[ns]
 1   berat_badan       535 non-null    float64
 2   tinggi_badan      535 non-null    int64
 3   bmi               535 non-null    float64
 4   kalori_konsumsi   535 non-null    int64
 5   protein_gram      535 non-null    int64
 6   lemak_gram        535 non-null    int64
 7   gula_gram         535 non-null    int64
 8   karbohidrat_gram  535 non-null    int64
 9   air_liter         535 non-null    float64
 10  stress_level      535 non-null    object
 11  jam_tidur         535 non-null    int64
 12  kualitas_tidur    535 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(7), object(2)
memory usage: 54.5+ KB

In [11]:
# X = df.drop(columns=['berat_badan'])
# y = df['berat_badan']

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,shuffle=True, random_state=42)

# models = {
#     "Linear Regression": LinearRegression(fit_intercept=False),
#     "Random Forest": RandomForestRegressor(),
#     "SVM": SVR(),
#     "Decision Tree": DecisionTreeRegressor(),
#     "XGB": XGBRegressor()
# }

# num_cols = X.select_dtypes(include=['float64','int64'],exclude='object').columns
# cat_cols = X.select_dtypes(exclude=['float64','int64'],include='object').columns

# name_list =[]
# r2 = []
# mae_score = []
# mse_score = []

# # acc = []

# for name, model in models.items():
#     num_pipe = Pipeline([
#         ('scl',StandardScaler()),
#     ])
    
#     cat_pipe = Pipeline([
#         ('enc',OneHotEncoder()),
#     ])
    
#     transformer = ColumnTransformer([
#         ('num',num_pipe,num_cols),
#         ('cat',cat_pipe,cat_cols)
#     ])
    
#     pipeline = Pipeline([
#         ("trf", transformer), 
#         ("classifier", model)
#     ])
    
#     pipeline.fit(X_train,y_train)
#     y_pred = pipeline.predict(X_test)
#     score_r2 = r2_score(y_test,y_pred)
#     mae = mean_absolute_error(y_test,y_pred)
#     mse = mean_squared_error(y_test,y_pred)
    
#     name_list.append(name)
#     r2.append(score_r2)
#     mae_score.append(mae)
#     mse_score.append(mse)
# #     acc.append(acc_score)
    
# #     print(model)
# #     print(classification_report(y_test,y_pred))
    
# selection = pd.DataFrame({
#     "Model": name_list,
#     "R2": r2,
#     "MAE": mae_score,
#     "MSE": mse_score,
# #     "Accuracy Score": acc,
# })

# selection

               Model        R2       MAE       MSE
0  Linear Regression  0.999993  0.007196  0.000069
1      Random Forest  0.999903  0.018692  0.000995
2                SVM  0.964641  0.430482  0.363628
3      Decision Tree  0.999755  0.019626  0.002523
4                XGB  0.999620  0.039374  0.003907

In [58]:


X = df.drop(columns=['berat_badan','tanggal'])
y = df['berat_badan']

num_cols = X.select_dtypes(include=['float64','int64'],exclude='object').columns
# cat_cols = X.select_dtypes(exclude=['float64','int64'],include='object').columns

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,shuffle=True, random_state=42)

num_pipe = Pipeline([
        ('scl',StandardScaler()),
])

# cat_pipe = Pipeline([
#     ('enc',OneHotEncoder(handle_unknown='ignore')),
# ])

transformer = ColumnTransformer([
    ('num',num_pipe,num_cols),
#     ('cat',cat_pipe,cat_cols)
])

model = Pipeline([
    ("trf", transformer), 
    ("classifier", LinearRegression())
])

model.fit(X_train,y_train)
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test,y_pred)
mae

0.006807843338916538

In [59]:
num_cols = X.select_dtypes(include=['float64','int64'],exclude='object').columns
cat_cols = X.select_dtypes(exclude=['float64','int64'],include='object').columns
num_cols,cat_cols

(Index(['tinggi_badan', 'bmi', 'kalori_konsumsi', 'protein_gram', 'lemak_gram',
        'gula_gram', 'karbohidrat_gram', 'air_liter', 'stress_level',
        'jam_tidur', 'kualitas_tidur'],
       dtype='object'),
 Index([], dtype='object'))

In [60]:
y_test.mean()

57.771028037383175

In [61]:
X_test[:1]

,tinggi_badan,bmi,kalori_konsumsi,protein_gram,lemak_gram,gula_gram,karbohidrat_gram,air_liter,stress_level,jam_tidur,kualitas_tidur
117,165,20.2,2770,124,75,33,338,3.2,1,7,6

In [62]:
new_pred = model.predict(X_test[:1])
new_pred

array([54.99337918])

In [63]:
y_test[:1]

117    55.0
Name: berat_badan, dtype: float64

In [64]:
import joblib
joblib.dump(model,'../models/linear_model.pkl')

['../models/linear_model.pkl']